.App.light {
  background-color: #c90000;
}
.App.dark {
  background-color: #000;
  color: #fff;
}
.App.dark .sidebar {
  background: #c90000;
  color: #fff;
}
.App.dark .link {
  color: #000000;
}
.App.dark .link:hover {
  color: #000000;
  background: rgb(200, 214, 0);
}
.App.dark .active {
  color: #000000;
  background: rgb(200, 214, 0);
}
.theme-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
}
.theme-icons > svg {
  cursor: pointer;
  font-size: 24px;
  margin-right: 64px;
}
.moon-icon {
  position: relative;
  left: 40px;
}
.sun-icon {
  position: relative;
  right: 1px;
}
.moon-icon:hover {
  color: #6495ED;
}
.sun-icon:hover {
  color: #FFA500;
}
* { 
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  overflow-y: auto;
  z-index: 100;
  transition: width 0.3s ease;
}
.top_section {
  display: flex;
  align-items: center;
  padding:20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 30px;
  transition: all 1s;
}
.link {
  display: flex;
  color: rgb(200, 214, 0);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: #fff;
  color: rgb(200, 214, 0);
  transition: 0.5s;
}
.active {
  background: #fff;
  color: rgb(200, 214, 0);
}
.icon, .link_text {
  font-size: 20px;
}